# Examples: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg

[defaults]

nocows = 1
# cow_selection = random
interpreter_python = auto_legacy_silent
inventory=inventory.ini

# human-readable stdout/stderr results display
# stdout_callback=debug

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ControlPath=/tmp/ansible-%r@%h:%p -F ssh.config