Host machine1
  HostName 127.0.0.1
  User vagrant
  Port 2202
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/maxime/Documents/Developer/personal/ansible++/.vagrant/machines/machine1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

host simple-web-01
  HostName 192.168.122.125
  User root
  Port 22
  IdentityFile ~/.ssh/id_ed25519_common
  ProxyJump machine1
  
host ruby-web-01
  HostName 192.168.122.249
  User root
  Port 22
  IdentityFile ~/.ssh/id_ed25519_common
  ProxyJump machine1

Host *
  IdentitiesOnly yes
  StrictHostKeyChecking no
  GlobalKnownHostsFile /dev/null
  UserKnownHostsFile /dev/null