Host machine1
  HostName 127.0.0.1
  User vagrant
  Port 2222
  IdentityFile .vagrant/machines/machine1/virtualbox/private_key

Host zeus-king
  HostName zeus.ugent.be
  User root
  Port 2222
  IdentityFile ~/.ssh/id_ed25519_zeus


Host *
  LogLevel FATAL
  PasswordAuthentication no
  IdentitiesOnly yes
