Host machine1
  HostName 127.0.0.1
  User vagrant
  Port 2222
  IdentityFile .vagrant/machines/machine1/virtualbox/private_key

Host simple-web-01
  HostName 192.168.122.125
  User root
  Port 22
  IdentityFile ~/.ssh/id_ed25519_common
  ProxyJump machine1

Host ruby-web-01
  HostName 192.168.122.249
  User root
  Port 22
  IdentityFile ~/.ssh/id_ed25519_common
  ProxyJump machine1


Host *
  LogLevel FATAL
  PasswordAuthentication no
  IdentitiesOnly yes
